.header__menu {
    width: 1920px;
    height: 36px;
    background: black;
}
.nav__item {
    display: inline-block;
    margin-right: 283px;
}

.nav__item a {
    text-decoration: none;
    font-size: 14px;
}
