.header__menu {
    height: 36px;
    max-width: 100%;
    background-color: darkblue;
}

.nav {
    display: flex;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: white;
}